@using crudSignalR.Core.Application.Dtos.Account;
@model ConfirmEmailResponse;
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@*<div class="text-center">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong> @(Model.Result ? "Correcto" : "Error")</strong> @Model.Message
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
*@

<script>
    let result="@Model.Result";
    let mesaje="@Model.Message";

    if(result==="True"){
          Swal.fire(
          'Good job!',
          mesaje,
          'success'
            )
    }else{
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: mesaje
        });
    }
 
</script>