
@using crudSignalR.Core.Application.Dtos.Account;
@model RegisterRequest;
@{
    ViewData["Title"] = "Create User";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      <form asp-action="Create" asp-controller="User" method="post">

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo</label>
        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="ConfirmPassword"  type="password" class="form-control" id="exampleInputPassword1">
      </div> 
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Password"  type="password" class="form-control" id="exampleInputPassword1">
      </div> 
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="FirstName"  type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="LastName"  type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="UserName"  type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input asp-for="Phone"  type="password" class="form-control" id="exampleInputPassword1">
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


